.up-next-column {
  min-width: 402px;
  display: flex;
  flex-direction: column;
}

.first-next-wrapper {
  padding-bottom: 8px;
  border-bottom: solid 1px rgb(238, 233, 233);
  margin-bottom: 16px;
  margin-top: -1px;
}

.first-next {
  text-decoration: none;
  color: black;
}
