.related-links {
  width: 100%;
  max-width: 578px;
  font-size: 14px;
  align-self: flex-start;
  padding-left: 62px;
  padding-bottom: 16px;
  margin-top: 14px;
  border-bottom: solid 1px lightgray;
}

.show-more {
  height: 21px;
  margin-top: 10px;
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
}

.related-link1, .related-link2, .related-link3 {
  text-decoration: none;
  color: #4D84DD;
}