.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    max-width: 1350px;
    padding-left: 16px;
    border-bottom: solid 4px rgb(245, 240, 240); 
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.menu-container {
  display: flex;
}