@media(max-width: 1200px){
  .sidebar {
    display: none;
  }

  .sidebar-wrapper {
    display: none;
  }

  div .groups-container{
    left: 0px;
  }
}

.content {
    display: flex;
    position: relative;
    top: 60px;
    background-color: #FAFAFA;
  }

.groups-container {
  position: relative;
  width: 100%;
  max-width: 1126px;
  left: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.sidebar-wrapper {
  top: 60px;
  bottom: 0px;
  position: fixed;
  overflow: scroll;
}