@media(max-width: 999px) {
  .video-page {
    flex-direction: column;
    align-items: center;
  }
}

.video-page {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  margin-top: 20px;
}